# Data Distribution

In [2]:
# Data ----> Independent data (x) , dependent data (y) 

# x -----> x_train , x_test 
# y -----> y_train , y_test 

# Machine ----> for  training ----> (x_train , y_train) 
# 2+2 = 4
# 3+2 = 5

# Machine ---> Prediction (x_test)  ---> 
# 6+5 = ???? ----> 12 (y_pred) 
# (y_test) = 11

In [3]:
import numpy as np 
import pandas as pd

In [4]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\placement.csv")

In [5]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [6]:
df.shape

(100, 3)

In [7]:
df.isnull().sum()

cgpa            0
resume_score    0
placed          0
dtype: int64

In [8]:
x = df.drop(columns = ['placed'])  ### Input data 
y = df['placed']   ### Target data

In [ ]:
# !pip install scikit-learn

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train , x_test , y_train , y_test = train_test_split(x,
                                                      y,
                                                      test_size = 0.2,
                                                      random_state = 42)

In [27]:
print("Total DataFrame Shape :" , df.shape)
print("----------------------------")
print("----------------------------")

print("Input data (x) shape :" , x.shape)
print("x_train data shape :" , x_train.shape)
print("x_test data shape :" , x_test.shape)
print("----------------------------")
print("Target data (y) shape :" , y.shape)
print("y_train data shape :" , y_train.shape)
print("y_test data shape :" , y_test.shape)
print("----------------------------")

Total DataFrame Shape : (100, 3)
----------------------------
----------------------------
Input data (x) shape : (100, 2)
x_train data shape : (80, 2)
x_test data shape : (20, 2)
----------------------------
Target data (y) shape : (100,)
y_train data shape : (80,)
y_test data shape : (20,)
----------------------------

In [28]:
# df(100,3) = x(100,2) + y(100,1) 
# x(100,2) = x_train(80,2) + x_test (20,2) 
# y(100,1) = y_train(80,1) + y_test(20,1)

# Data-2

In [29]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\Newdat\\covid_toy.csv")

In [30]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [31]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [32]:
from sklearn.impute import SimpleImputer

In [36]:
si = SimpleImputer(strategy = 'mean')

In [37]:
df['fever'] = si.fit_transform(df[['fever']])

In [38]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [39]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [40]:
df.shape

(100, 6)

In [41]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid']

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2,random_state = 42)

In [49]:
print("Total DataFrame Shape :" , df.shape)
print("----------------------------")
print("----------------------------")

print("Input data (x) shape :" , x.shape)
print("x_train data shape :" , x_train.shape)
print("x_test data shape :" , x_test.shape)
print("----------------------------")
print("Target data (y) shape :" , y.shape)
print("y_train data shape :" , y_train.shape)
print("y_test data shape :" , y_test.shape)
print("----------------------------")

Total DataFrame Shape : (100, 6)
----------------------------
----------------------------
Input data (x) shape : (100, 5)
x_train data shape : (80, 5)
x_test data shape : (20, 5)
----------------------------
Target data (y) shape : (100,)
y_train data shape : (80,)
y_test data shape : (20,)
----------------------------

In [50]:
# df(100,6) = x(100,5) + y(100,1) 
# x(100,5) = x_train(80,5) + x_test(20,5) 
# y(100,1) = y_train(80,1) + y_test(20,1)